*{
  box-sizing: border-box;
}
#main-box{
  display: flex;
  margin: 3rem;
}
.first-box{
  background: #eae1e140;
  width: 30vw;
  height: 50vh;
  margin: auto;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0),
              0px 8px 15px rgba(0, 0, 0, 0.1),
              0px 8px 15px rgba(0, 0, 0, 0.1);
}
