*{
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
}

#main-title{
  padding-top: 7rem;
  font-size: 2.5rem;
  color: gray;
}
#main-title::after{
background: #f6eee8;
content: '';
display: inline-block;
height: 2px;
width: 22%;
top: 1rem;
margin-left: -21rem;
right: 2rem;
position: relative;
margin-top: 2px;
clear: both;
}

h4{
  font-size: 2.5rem;
  margin-top: -1rem;
}

#text{
  width: 50%;
  margin: 0 auto;
  font-size: 1.3rem;
}

@keyframes fader {
  0%{
    background: url('../img/mack1.jpg');
    background-size: cover;
  }
  33.3%{
    background: url('../img/mack2.jpg');
    background-size: cover;
  }
  66.3%{
    background: url('../img/mack3.jpg');
    background-size: cover;
  }
  100%{
    background: url('../img/mack4.jpg');
    background-size: cover;
  }
}
#main-pictures{
  width: 50rem;
}

.slides{
  /* display: none; */
  width: 95vw;
  height: 100vh;
  margin: 0 2.5%;
  background-color: #000;
}

#about-pictures{
  width: 100vw;
  height: 100vh;
  margin: 2.55rem auto;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, .1),
              -10px 8px 15px rgba(0, 0, 0, .1),
              10px 8px 15px rgba(0, 0, 0, .1);
  animation: fader 25s linear infinite;
}

.img-about{
  width: 45%;
  height: 10%;
  margin: 5% 2%;
}

.img-box{
  display: flex;
}
