*{
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
}

#main-title{
  padding-top: 7rem;
  font-size: 2.5rem;
  color: gray;
}
#main-title::after{
background: #f6eee8;
content: '';
display: inline-block;
height: 2px;
width: 22%;
top: 1rem;
margin-left: -21rem;
right: 2rem;
position: relative;
margin-top: 2px;
clear: both;
}

h4{
  font-size: 2.5rem;
  margin-top: -1rem;
}

#text{
  width: 50%;
  margin: 0 auto;
  font-size: 1.3rem;
}
