header{
  margin: 0 auto;
  margin-bottom: 20rem;
  margin-left: 15rem;
  text-align: center;
  padding-right: 30px;
}

.title{
  font-size: 2rem;
  color: #f2e9e9;
}

header a{
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
  font-weight: 700;
  background-color: #1d809f;
  border-color: #1d809f;
  cursor: pointer;
  color: #f2e9e9;
  padding: 1.25rem 2.5rem;
  text-decoration: none;
  margin-top: -5rem;
  border-radius: 5%;
}
